In [1]:
# Import Dependencies
import requests
from selenium import webdriver
import time
import pandas as pd
import os
import getpass 
from sqlalchemy import create_engine

In [3]:
# Request file path from user to save reports to
file_path = input("Please enter this file's file path: ")

# User Prompt
print('   Your reports will be downloaded here\n\n\
Time to sign in to data.world!')

# Request Username
username = input('     Username: ')

# Request Password 
try: 
    password = getpass.getpass('     Password: ') 
except Exception as error: 
    print('ERROR', error)

Please enter this file's file path: /Users/taylorpalinkas/Desktop/Project_2
   Your reports will be downloaded here

Time to sign in to data.world!
     Username: tpalink
     Password: ········

In [6]:
# URL to login
login_url = 'https://data.world/login'

# List of report URLs
reports_url = ['https://data.world/san-diego/ripa-police-stop-data-race-of-persons-stopped-datasd/\
workspace/file?filename=ripa-police-stop-data-race-of-persons-stopped-2.csv',
        
        'https://data.world/san-diego/ripa-police-stop-data-gender-of-persons-stopped-datasd/\
workspace/file?filename=ripa-police-stop-data-gender-of-persons-stopped-1.csv',
        
        'https://data.world/san-diego/ripa-police-stop-data-reason-for-stop-datasd/\
workspace/file?filename=ripa-police-stop-data-reason-for-stop-1.csv',
        
        'https://data.world/san-diego/ripa-police-stop-data-result-of-stop-datasd/\
workspace/file?filename=ripa-police-stop-data-result-of-stop-1.csv',
        
        'https://data.world/san-diego/ripa-police-stop-data-actions-taken-datasd/\
workspace/file?filename=ripa-police-stop-data-actions-taken-1.csv']

In [7]:
# Create Chrome Options
options = webdriver.ChromeOptions()

# Create directory preferences and ignore 
preferences = {'download.default_directory':file_path,\
               'safebrowsing.enabled': 'false'}

# Set webdriver to save in preferences
options.add_experimental_option('prefs', preferences)

# Create driver using options 
driver = webdriver.Chrome(options = options)

#----------------------------------------------------------------------------------

# Visit login website 
driver.get(login_url)

# Give website time to load for slow computers 
time.sleep(3)

# Scrape the website to login using the User's info
driver.find_element_by_id('login-view-login-login').send_keys(username)
driver.find_element_by_id('login-view-login-password').send_keys(password)
driver.find_element_by_class_name('panel-body')\
.find_element_by_tag_name('button').click()

#----------------------------------------------------------------------------------

# Set scrapper to download CSV reports and set the scrapper as function 
def scrapper():
    time.sleep(3)
    
    driver.find_element_by_class_name('UnifiedExport__ddButton___2hjSR')\
    .find_element_by_tag_name('span').click()
    
    driver.find_element_by_class_name('UnifiedExport__miLink___EXLKS')\
    .find_element_by_class_name('UnifiedExport__miTitle___2P9xh').click()

# Vist each webpage and run scrapper
for each_url in reports_url:
    driver.get(each_url)
    scrapper()

In [4]:
# Empty list to save DFs
dataframe_name_list = []

# Loop through CSV files in folder and create pandas DF
for filename in os.listdir(file_path):
    if filename.endswith('.csv'):
        filename = pd.read_csv(filename)
        dataframe_name_list.append(filename)

In [5]:
action_df = dataframe_name_list[0]
action_df

        stop_id  pid                       action consented
0          2443    1                         None       NaN
1          2444    1                         None       NaN
2          2447    1           Curbside detention       NaN
3          2447    2           Curbside detention       NaN
4          2448    1                         None       NaN
...         ...  ...                          ...       ...
130826    84455    1           Curbside detention       NaN
130827    84455    1         Patrol car detention       NaN
130828    84455    1          Person photographed       NaN
130829    84455    1  Physical or Vehicle contact       NaN
130830    84525    1                         None       NaN

[130831 rows x 4 columns]

In [6]:
race_df = dataframe_name_list[1]
race_df

       stop_id  pid                    race
0         2443    1                   White
1         2444    1                   White
2         2447    1       Hispanic/Latino/a
3         2447    2       Hispanic/Latino/a
4         2448    1                   White
...        ...  ...                     ...
90629    84434    1       Hispanic/Latino/a
90630    84442    1       Hispanic/Latino/a
90631    84454    1  Black/African American
90632    84455    1                   White
90633    84525    1                   White

[90634 rows x 3 columns]

In [7]:
reason_df = dataframe_name_list[2]
reason_df

,stop_id,pid,reason_for_stop,reason_for_stopcode,reason_for_stop_code_text,reason_for_stop_detail,reason_for_stop_explanation
0,2443,1,Reasonable Suspicion,64005,647(F) PC - DISORD CONDUCT:ALCOHOL (M) 64005,Officer witnessed commission of a crime,"staggering, unable to safely walk"
1,2444,1,Traffic Violation,54106,22350 VC - UNSAFE SPEED:PREVAIL COND (I) 54106,Moving Violation,Speeding
2,2447,1,Reasonable Suspicion,53072,415(1) PC - FIGHT IN PUBLIC PLACE (M) 53072,Matched suspect description,Both parties involved in argument.
3,2447,2,Reasonable Suspicion,53072,415(1) PC - FIGHT IN PUBLIC PLACE (M) 53072,Other Reasonable Suspicion of a crime,Both parties engaged in argument.
4,2448,1,Traffic Violation,54106,22350 VC - UNSAFE SPEED:PREVAIL COND (I) 54106,Moving Violation,UNSAFE DRIVING
...,...,...,...,...,...,...,...
91957,84434,1,Reasonable Suspicion,54056,20002 VC - HIT AND RUN (M) 54056,Other Reasonable Suspicion of a crime,hit and run collision
91958,84442,1,Knowledge of outstanding arrest warrant/wanted...,NaN,NaN,NaN,Parolee at large
91959,84454,1,Reasonable Suspicion,41063,25620 BP - POSS OPEN ALCOHOL:PUBLIC (I) 41063,Officer witnessed commission of a crime,open container of an alcohlic beverage
91960,84455,1,Reasonable Suspicion,29138,594(A) PC - VANDALISM (M) 29138,Matched suspect description,flag down of male who broke car window
91961,84525,1,Consensual Encounter resulting in a search,NaN,NaN,NaN,RADIO CALL

In [8]:
gender_df = dataframe_name_list[3]
result_df = dataframe_name_list[4]

In [9]:
#creating new data with select columns
reason_df = reason_df[['stop_id', 'reason_for_stop', 'reason_for_stopcode', 'reason_for_stop_detail','reason_for_stop_explanation']]
gender_df = gender_df[['stop_id', 'gender']]
race_df = race_df[['stop_id', 'race']]
result_df = result_df[['stop_id', 'resultkey', 'result']]
action_df = action_df[['stop_id', 'action']]

In [10]:
print(reason_df.dtypes)

stop_id                         int64
reason_for_stop                object
reason_for_stopcode            object
reason_for_stop_detail         object
reason_for_stop_explanation    object
dtype: object

In [11]:
#cleaning & making sure dataframes have the same amount of rows
#combining duplicate rows where stop_id is the same
a_reason_df = reason_df.groupby('stop_id')['reason_for_stop'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
b_reason_df = reason_df.groupby('stop_id')['reason_for_stopcode'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
c_reason_df = reason_df.groupby('stop_id')['reason_for_stop_detail'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
d_reason_df = reason_df.groupby('stop_id')['reason_for_stop_explanation'].apply(lambda x: ', '.join(x.astype(str))).reset_index()

first_reason_df = pd.merge(a_reason_df, b_reason_df, on='stop_id')
second_reason_df = pd.merge(first_reason_df, c_reason_df, on='stop_id')
final_reason_df = pd.merge(second_reason_df, d_reason_df, on='stop_id')
final_reason_df

,stop_id,reason_for_stop,reason_for_stopcode,reason_for_stop_detail,reason_for_stop_explanation
0,2443,Reasonable Suspicion,64005,Officer witnessed commission of a crime,"staggering, unable to safely walk"
1,2444,Traffic Violation,54106,Moving Violation,Speeding
2,2447,"Reasonable Suspicion, Reasonable Suspicion","53072, 53072","Matched suspect description, Other Reasonable ...","Both parties involved in argument., Both parti..."
3,2448,Traffic Violation,54106,Moving Violation,UNSAFE DRIVING
4,2449,Reasonable Suspicion,13045,Matched suspect description,matched description of suspect on 242 radio call.
...,...,...,...,...,...
79920,84434,Reasonable Suspicion,54056,Other Reasonable Suspicion of a crime,hit and run collision
79921,84442,Knowledge of outstanding arrest warrant/wanted...,nan,nan,Parolee at large
79922,84454,Reasonable Suspicion,41063,Officer witnessed commission of a crime,open container of an alcohlic beverage
79923,84455,Reasonable Suspicion,29138,Matched suspect description,flag down of male who broke car window
79924,84525,Consensual Encounter resulting in a search,nan,nan,RADIO CALL

In [12]:
final_race_df = race_df.groupby(['stop_id'])['race'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
final_race_df

       stop_id                                  race
0         2443                                 White
1         2444                                 White
2         2447  Hispanic/Latino/a, Hispanic/Latino/a
3         2448                                 White
4         2449                                 White
...        ...                                   ...
79920    84434                     Hispanic/Latino/a
79921    84442                     Hispanic/Latino/a
79922    84454                Black/African American
79923    84455                                 White
79924    84525                                 White

[79925 rows x 2 columns]

In [13]:
final_gender_df = gender_df.groupby(['stop_id'])['gender'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
final_gender_df

       stop_id        gender
0         2443          Male
1         2444          Male
2         2447  Male, Female
3         2448          Male
4         2449          Male
...        ...           ...
79920    84434          Male
79921    84442          Male
79922    84454          Male
79923    84455          Male
79924    84525          Male

[79925 rows x 2 columns]

In [14]:
e_result_df = result_df.groupby(['stop_id'])['resultkey'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
f_result_df = result_df.groupby(['stop_id'])['result'].apply(lambda x: ', '.join(x.astype(str))).reset_index()

In [15]:
final_result_df = pd.merge(e_result_df, f_result_df, on='stop_id')
final_result_df

       stop_id resultkey                                            result
0         2443         6                  Custodial Arrest without warrant
1         2444         2                       Warning (verbal or written)
2         2447      1, 1                              No Action, No Action
3         2448         1                                         No Action
4         2449         6                  Custodial Arrest without warrant
...        ...       ...                                               ...
79920    84434         6                  Custodial Arrest without warrant
79921    84442         5  Custodial Arrest pursuant to outstanding warrant
79922    84454         3                           Citation for infraction
79923    84455         6                  Custodial Arrest without warrant
79924    84525         1                                         No Action

[79925 rows x 3 columns]

In [16]:
final_action_df = action_df.groupby(['stop_id'])['action'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
final_action_df

       stop_id                                             action
0         2443                                               None
1         2444                                               None
2         2447             Curbside detention, Curbside detention
3         2448                                               None
4         2449  Curbside detention, Physical or Vehicle contac...
...        ...                                                ...
79920    84434  Search of person was conducted, Handcuffed or ...
79921    84442  Property was seized, Search of person was cond...
79922    84454      Curbside detention, Handcuffed or flex cuffed
79923    84455  Search of person was conducted, Chemical spray...
79924    84525                                               None

[79925 rows x 2 columns]

In [30]:
#connecting to local database
rds_connection_string = "postgres:postgres@localhost:5432/police_db"
engine = create_engine(f'postgresql://{rds_connection_string}')
engine.table_names()

['final_reason_db',
 'final_gender_db',
 'final_result_db',
 'final_action_db',
 'final_race_db']

In [31]:
final_race_df.to_sql(name='final_race_db', con=engine, if_exists='append', index=False)

In [32]:
final_gender_df.to_sql(name='final_gender_db', con=engine, if_exists='append', index=False)

In [33]:
final_reason_df.to_sql(name='final_reason_db', con=engine, if_exists='append', index=False)

In [34]:
final_result_df.to_sql(name='final_result_db', con=engine, if_exists='append', index=False)

In [35]:
final_action_df.to_sql(name='final_action_db', con=engine, if_exists='append', index=False)

In [36]:
action_df.to_sql(name='action_db', con=engine, if_exists='append', index=False)

In [37]:
#test
pd.read_sql_query('select * from final_race_db', con=engine).head()

   stop_id                                  race
0     2443                                 White
1     2444                                 White
2     2447  Hispanic/Latino/a, Hispanic/Latino/a
3     2448                                 White
4     2449                                 White